h1 alo alo alo
form(action = '/users/search',method ="GET")
	input(type = 'text',name = 'q')
	button search
ul
	each user in users
		li
			span=user.name
			span &nbsp
			a(href='/users/'+user.id) View

a(href = '/users/creative') click to creatice
		