extends ../layouts/common.pug
block content
		form(action='/users/search',method = 'GET')
			input( name = 'q',type = 'text', id = 'name')
			button search
		ul
			each user in users
				li
					b Name: 
						span=user.name
					span &nbsp ;    
					b Phone:
						span=user.phone 
					span &nbsp
					a(href='/users/'+user.id) View

		a(href = '/users/creative') click to creatice
		
